<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.login.UserMapper">

    <!-- 动态更新对象的写法 -->
    <update id="update" parameterType="User">
        UPDATE u_user
        <set>
            <if test="userName != null">
                username = #{username},
            </if>
        </set>
        WHERE
          id = #{id}
    </update>    
    
    <select id="load" parameterType="int" resultType="User">
        SELECT * FROM u_user WHERE id = #{id}
    </select>
    
    <select id="loadByUserName" parameterType="string" resultType="User">
        SELECT * FROM u_user WHERE username = #{username}
    </select>
    
    <select id="listUser" resultType="User">
        SELECT * FROM u_user
    </select>
    
</mapper>

